import React from 'react';
import {{pascalCase name}} from './styles';

function {{pascalCase name}}() {
    return (
        <div className="{{camelCase name}}">
            
        </div>
    );
}

export default {{pascalCase name}};
