import './styles.css';

function {{pascalCase name}}() {
    return (
        <div className="{{camelCase name}}">
            
        </div>
    );
}

export default {{pascalCase name}};
